<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Panel-Studio - 登录</title>
</head>

<body>
    <div class="login-card">
        <h2>后台登录</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form class="form" method="post">
            <label>
                <div class="text">用户名:</div>
                <input type="text" name="username" />
            </label>
            <label>
                <div class="text">密码: </div>
                <input type="password" name="password" />
            </label><br />
            <input class="login-btn" type="submit" value="登录" />
        </form>
    </div>
</body>

</html>